.color-text-dropdown-menu {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 24px);
    gap: 8px;
    padding: 4px;
  }
  &-item {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    &:hover {
      box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
