@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  overscroll-behavior-y: none;
}

#root {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}
